@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ECF1F6 !important;
}

/* サイドバー */
.sidebar {
  width: 220px;
  background-color: #03AAD2;
  font-weight: bold;
  min-height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.main-container {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
}

.sidebar p a {
  color: #FFF;
}

.sidebar-icon {
  margin-left: 5px;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-container {
  position: relative;
}

.profile-title {
  position: absolute;
  top: 10px;
  left: 250px;
  margin: 0;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

.calendar-disabled {
  background-color: #e9ecef !important;
  color: #6c757d !important;
  pointer-events: none;
}

.custom-border {
  border: none !important;
}

.table-wrapper {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-table {
  border: 1px solid #03AAD2;
  border-radius: 8px;
  width: 100%;
  margin: 0;
}

.custom-table thead tr {
  background-color: #03AAD2;
  color: white;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: white;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #E0F7FF;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.margin-top-custom {
  margin-top: 50px;
}

.calendar-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/* モーダル */
.modal {
  /* display: none; */
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* 掲示板 詳細画面 */
.contributor {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

.js-modal,
.js-delete-modal {
  display: none;
}

.js-modal.open,
.js-delete-modal.open {
  display: block;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  margin-top: 10px;
  font-size: 13px;
  border-radius: 5px;
  padding: 7px 20px;
  border: none;
  color: #FFF;
  cursor: pointer;
  width: 50%;
}

.like-posts {
  background-color: #F4A6C1;
}

.my-posts {
  background-color: #FFA500;
}

.custom-button-container {
  display: flex;
  gap: 2px;
  width: 100%;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

.post-btn a {
  margin-top: 30px;
  display: inline-block;
  background-color: #03AAD2;
  color: white;
  padding: 7px 113px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  white-space: nowrap;
  font-size: 13px;
}

.search-box {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.search-input {
  background-color: transparent;
  border: 2px solid #d3d3d3;
  border-radius: 5px 0 0 5px;
  padding: 7px;
  font-size: 13px;
  color: #333;
  width: 70%;
  box-sizing: border-box;
}

.search-btn {
  background-color: #03AAD2;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 7px 20px;
  cursor: pointer;
  font-size: 13px;
  width: 30%;
  box-sizing: border-box;
}

.search-btn-btn {
  margin-top: 30px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #03AAD2;
  color: white;
  border: none;
}

.post-text {
  color: #000;
  font-size: 14px;
}

.sub-categories {
  margin-top: 5px;
}

.sub-category-item {
  background-color: #03AAD2;
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
  margin-right: 2px;
  font-size: 12px;
  display: inline-block;
}

/* アコーディオンメニュー */
.accordion-btn {
  background: none;
  margin-top: 10px;
  color: #000;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.accordion-btn .arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid 2px #333;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.accordion-btn.open .arrow {
  transform: rotate(-135deg);
}

.category-btn .arrow {
  transform: rotate(45deg);
}

.category-btn.open .arrow {
  transform: rotate(-135deg);
}

.sub-category-list {
  display: none;
  list-style-type: none;
  border-top: 1px solid #D3D3D3;
}

.sub-category-list.open {
  display: block !important;
}

.category-btn {
  background: none !important;
  border: none !important;
  text-align: left;
  font-size: 13px;
  cursor: pointer;
  border-bottom: 1px solid #D3D3D3 !important;
  width: 90%;
}

.accordion-btn:focus {
  outline: none;
  border: none;
}

button:focus {
  outline: none !important;
}

.search_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reserve_users_area {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  overflow: auto;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
}

.search_area {
  width: 25%;
  padding: 10px;
  position: relative;
  z-index: 5;
}

.accordion {
  position: relative;
  z-index: 10;
  width: 100%;
}

.reserve_users_area::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.reserve_users_area::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.reserve_users_area::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.reserve_users_area::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 250px;
  height: 250px;
}

.search_conditions span {
  cursor: pointer;
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.subject-item {
  font-size: 12px;
}

.subject-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.subject-checkbox-wrapper span {
  margin-right: 8px;
}

.admin-accordion-btn {
  background-color: #fff;
  color: #03AAD2;
  border-radius: 5px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.admin-accordion-btn:hover {
  background-color: #fff;
  color: #03AAD2;
  border: none;
}

.admin-accordion-btn .admin-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid 2px #03AAD2;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.admin-accordion-btn.open .admin-arrow {
  transform: rotate(-135deg);
  border-color: #03AAD2;
}

.subject-inner {
  display: none;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}

.admin-accordion-btn.open+.subject-inner {
  display: block;
}

/* ユーザー検索 */
.search-container {
  background: #ECF1F6;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.search-field {
  margin-bottom: 15px;
}

.label {
  color: #003366;
}

.input-container {
  margin-top: 5px;
}

.search-input {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.search-select {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.accordion-toggle {
  font-size: 18px;
  color: #003366;
}

.search_conditions_inner {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin-top: 10px;
  border-radius: 5px;
}

.search_conditions_inner.open {
  max-height: 1000px;
}

.search_conditions {
  border-bottom: 2px solid #d3d3d3;
  font-size: 16px;
  color: #003366;
  width: 100%;
  display: inline-block;
}

.subject-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
}

.subject-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.subject-checkbox-wrapper span {
  margin-right: 8px;
}

.subject-checkbox-wrapper input {
  transform: scale(1.2);
  vertical-align: middle;
  margin-bottom: .5rem;
  margin-left: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.reset-btn {
  color: #03AAD2;
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.reset-btn-btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #03AAD2;
  border: none;
}

.search-btn {
  background-color: #03AAD2;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  width: auto;
  border-radius: 5px;
}

.search-field.selected_engineer .subject-container {
  flex-grow: 1;
}

.search-field.selected_engineer button {
  width: auto;
}

.search-btn:hover {
  background-color: #0296b4;
}

.user-info-box {
  height: 220px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0px 10px;
}

.user-info-item {
  margin-bottom: 5px;
}

.user-info-label {
  font-size: 14px;
  color: #333;
  display: inline-block;
  margin-right: 10px;
}

.user-info-value {
  font-size: 14px;
  color: #555;
  word-wrap: break-word;
}

.user-info-value span {
  color: #03AAD2;
}

.subject-item {
  background-color: #03AAD2;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
  font-size: 12px;
  display: inline-block;
}

.subject-inner {
  display: none;
}

.subject-inner.open {
  display: block;
}

.blue-text {
  color: #03AAD2;
}
